.social-icon li a i,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown ul.dropdown-menu,
.email em a,
.form-search,
#nav ul li a,
#nav ul li,
#nav ul li:after,
.form-search,
.form-search fieldset input[type="text"],
.owl-theme .owl-controls.clickable .owl-buttons div,
.theme-btn,
.owl-theme .owl-controls .owl-page span,
.img-hover,
.product:hover .cart-badge .corner:before,
.product:hover .cart-badge .corner:after,
div.stars,
label.star,
input.star:checked ~ label.star:before,
#nav ul li ul li:before,
.product:hover .detail .title,
.topten-product .img-hover .holder,
.topten-product h2,
.topten-product a,
.topten-products .banner-topten,
.small-theme-btn,
.social-icon li a,
.payment ul li i,
.backtomain,
.address .address-info li em a,
.post,
.border-left:after,
.them-pagination ul.pagination li a,
.btns-post .btn-prevpost,
.btns-post .btn-nextpost,
.widget.category ul li a,
.widget.category ul li a:after,
.widget ul li .post-title a,
.post h3 a,
.product-tabs .item a,
.button-box a,
.product-btns ul li a,
.col.info .social-icon li a,
.shirt-pattran li label,
.jcf-file .jcf-upload-button,
.date-reply span a,
.order-detail span i,
.button-box li span,
.dropdown-menu,
.bg-checkbox{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}